<div class="ui container">
  <div class="ui large secondary inverted pointing menu" id="nav_desktop">
    <%= link_to 'Home', root_path, class: "item" %>
    <%= link_to 'Portfolio', portfolio_path, class: "item" %>
    <%= link_to 'Blog', blog_path, class: "item" %>
    <div class="right item">
      <a class="ui inverted button">Contact me</a>
    </div>
  </div>
</div>