<div class="ui container" id="footer_nav">
  <div class="ui large secondary inverted menu" id="footer_nav_items" >
    <%= link_to 'Home', root_path, class: "item"%>
    <%= link_to 'Portfolio', portfolio_path, class: "item" %>
    <%= link_to 'Blog', blog_path, class: "item" %>
    <%= link_to 'Contact me', '#', class: "item" %>
    </div>
  </div>
</div>