<div class="ui text container">
  <h1 class="ui header inverted">Hello, this is Anna Costalonga</h1>
  <div class="sub header">I am a software engineer and a writer</div>
</div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui centered header">About Me</h3>
        <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        <p>Yes that is right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
      </div>
      <div class="six wide right floated column">
        <%= image_tag 'anna_lila.jpg', class: "ui medium bordered image" %>
      </div>
    </div>
  </div>
</div>